body{
  background-color:#261332;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

button{
  background-color:#FFD729;
  border:none;
  text-transform: uppercase;
  padding:10px 40px;
  color:#000000;
  font-weight: bold;
  border-radius:100px;
  transition: all ease 0.35s;
  cursor:pointer;
  height: 35px;
}
button:hover{
  background-color:#FF7600;
}
button:focus{
  outline: none;
}

.modal{
  z-index:10;
  width: 100%;
  height: 100%;
  display:flex;
  background: linear-gradient(#FFD729, #FFA000);
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
  flex-wrap: wrap;
  justify-content: center;
  position: absolute;
  height: 150px;
  bottom: -150px;
}
.modal_active{
  bottom: 0px;
  transition: all ease 0.25s;
}
.modal section{
  flex-basis: 100%;
  display:flex;
  flex-wrap:wrap;
  justify-content: center;
}
.displayedTrack{
  list-style: none;
  width: 50px;
  height: 50px;
  background-color: grey;
}



.audioFilesList{
  display:flex;
  flex-wrap: wrap;
  justify-content: center
}
.audioFilesList div{
  background-color: #FFD729;
  color:black;
  height:100px;
  width: 100px;
  margin: 10px;
  border-radius:15px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.modalPodcast{
  position: fixed;
  height: 150%;
  width: 100%;
  top: 0%;
  background-color: white;
}





    header {
    height: 70px;
    }

    .main-controls {
    padding-bottom: 0.7rem;
    height: 170px;
    }

    .sound-clips {
      box-shadow: inset 0 3px 4px rgba(0,0,0,0.7);
      background-color: rgba(0,0,0,0.1);
      height: calc(100% - 240px - 0.7rem);
      overflow: scroll;
    }
    label {
      font-family: 'NotoColorEmoji';
      font-size: 3rem;
      position: absolute;
      top: 2px;
      right: 3px;
      z-index: 5;
      cursor: pointer;
  }
  input[type=checkbox] {
    position: absolute;
    top: -100px;
 }
 aside {
  position: fixed;
  top: 0;
  left: 0;
  text-shadow: 1px 1px 1px black;  
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: 0.6s all;
  background-color: #999;
   background-image: linear-gradient(to top right, rgba(0,0,0,0), rgba(0,0,0,0.5));
}
input[type=checkbox]:checked ~ aside {
  transform: translateX(0);
}